deploy/build-test/message/releases/com/amazon/aws/Provisioning/CustomRole/1.0/dtd/Delete-Sync.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Notes:
-->
<!-- Include resources (elements) shared by all messages -->
<!ENTITY % RESOURCES SYSTEM "../../../../Resources/1.0/Resources.dtd">
%RESOURCES;
<!ELEMENT com.amazon.aws.Provisioning.CustomRole.Delete (ControlAreaSync, DataArea)>
<!ELEMENT DataArea (DeleteData)>
<!ELEMENT DeleteData (DeleteAction,CustomRole)>
