deploy/build-test/message/releases/edu/emory/Network/TransitGatewayConnectionProfileAssignment/1.0/dtd/Delete-Sync.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright 2018 Emory University. All rights reserved.
-->
<!-- Notes:
-->
<!-- Include resources (elements) shared by all messages -->
<!ENTITY % RESOURCES SYSTEM "../../../../Resources/1.0/Resources.dtd">
%RESOURCES;
<!ELEMENT edu.emory.Network.TransitGatewayConnectionProfileAssignment.Delete (ControlAreaSync, DataArea)>
<!ELEMENT DataArea (DeleteData)>
<!ELEMENT DeleteData (DeleteAction, TransitGatewayConnectionProfileAssignment)>
