deploy/build-test/message/releases/com/amazon/aws/Resources/1.0/Segments.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	Copyright 2012 Emory University.  All Rights Reserved.
-->
<!--	Segments.dtd is a a file where definitions of all elements with
		children appear.
		
		The OpenEAI Deployment Patterns suggest that, when using DTDs,
		an enterprise should separate its definitions into four slices
		to improve the management of definitions and to promote the use
		of common object definitions.  The four slices are:
		
		Resources - 	a file for including definitions from enternal
							organizations.  For examaple, in their own
							Resources.dtd, an enterprise will reference
							the OpenEAI definitions, which give them the
							ControlArea* definitions required by the OpenEAI
							Message Protocol. 
							
		Segments - 	a file where definitions of all elements with
							children appear
							
		Fields - 		a file where all elements without children appear
		
		Domains - 	a file in which any custom datatypes are defined
		
		This approach was learned by observing contraint practices of the 
		Open Application Group, and these same practices have served the
		practitioners of OpenEAI well.
 -->
<!--	Notes:
	Comments for each element should provide the initial context for which
	the element was added and the date when it was added.
 -->
<!-- ====================================================================== -->
<!-- Elements - Segments
-->
<!-- 
MessageId was defined as an Element in openeai/segments.dtd
-->
<!ELEMENT Account (AccountId, AccountName, ComplianceClass, PasswordLocation, EmailAddress+, Property*, AccountOwnerId, FinancialAccountNumber?, CreateUser, CreateDatetime, LastUpdateUser?, LastUpdateDatetime?)>
<!ELEMENT AccountAlias (AccountId, Name)>
<!ELEMENT AccountAliasQuerySpecification (AccountId)>
<!ELEMENT AccountNotification (AccountNotificationId?, AccountId, Type, Priority, Subject, Text, ReferenceId?, Annotation*, CreateUser, CreateDatetime, LastUpdateUser?, LastUpdateDatetime?)>
<!ELEMENT AccountNotificationQuerySpecification (Comparison*, QueryLanguage?, AccountNotificationId?, AccountId?, Type?, Priority?)>
<!ELEMENT AccountOrganizationMembership (AccountId, ParentId)>
<!ELEMENT AccountOrganizationMembershipQuerySpecification (AccountId)>
<!ELEMENT AccountProvisioningAuthorization (UserId, IsAuthorized, AuthorizedUserDescription, UnauthorizedReason*)>
<!ELEMENT AccountProvisioningAuthorizationQuerySpecification (UserId)>
<!ELEMENT AccountQuerySpecification (Comparison*, QueryLanguage?, AccountId?, AccountName?, EmailAddress?, AccountOwnerId?, FinancialAccountNumber?, CreateUser?, LastUpdateUser?)>
<!ELEMENT AccountUser (AccountId, UserId, FullName, EmailAddress, RoleName+, Property*)>
<!ELEMENT AccountUserQuerySpecification (AccountId?, UserId?)>
<!ELEMENT Annotation (Text, CreateUser, CreateDatetime, LastUpdateUser?, LastUpdateDatetime?)>
<!ELEMENT Bill (BillId?, PayerAccountId, BillDate, Type, LineItem+, CreateUser, CreateDatetime, LastUpdateUser?, LastUpdateDatetime?)>
<!ELEMENT BillQuerySpecification (Comparison*, QueryLanguage?, BillId?, PayerAccountId?, LinkedAccountId?, BillDate?, StartDate?, EndDate?, Type?)>
<!-- not sure CountermeasureId needed -->
<!ELEMENT Countermeasure (CountermeasureId?,SecurityRiskId?, Status, Description, Verifier?, VerificationDatetime?)>
<!ELEMENT Credentials (AccessKeyId, SecretKey)>
<!ELEMENT DetectedSecurityRisk (Type, AmazonResourceName, RemediationResult?)>
<!ELEMENT EmailAddress (Type, Email)>
<!ELEMENT LineItem (InvoiceId?, PayerAccountId, LinkedAccountId?, RecordType, RecordId, BillingPeriodStartDatetime, BillingPeriodEndDatetime, InvoiceDatetime?, PayerAccountName, LinkedAccountName?, TaxationAddress?, PayerPONumber?, ProductCode?, ProductName?, SellerOfRecord?, UsageType?, Operation?, RateId?, ItemDescription, UsageStartDatetime?, UsageEndDatetime?, UsageQuantity?, BlendedRate?, CurrencyCode, CostBeforeTax, Credits?, TaxAmount?, TaxType?, TotalCost)>
<!ELEMENT Output (Description, OutputKey, OutputValue)>
<!ELEMENT Parameters (Key, Value)>
<!ELEMENT Property (Key, Value)>
<!ELEMENT ProvisioningStep (ProvisioningStepId?,ProvisioningId, StepId, Type, Description, Status, StepResult?, ActualTime?, AnticipatedTime?, Property*, CreateUser, CreateDatetime, LastUpdateUser?, LastUpdateDatetime?)>
<!ELEMENT RemediationResult (Status, Description, Error*)>
<!ELEMENT SamlProvider (AccountId,Arn?, Name?, SamlMetadataDocument?)>
<!ELEMENT SamlProviderRequisition (AccountId, Name, SamlMetadataDocument)>
<!ELEMENT SamlProviderQuerySpecification (AccountId?,Arn?)>
<!ELEMENT SecurityRisk (SecurityRiskId?, ServiceId, SequenceNumber, ServiceRiskName, RiskLevel, Description, AssessorId, AssessmentDatetime, Countermeasure*)>
<!ELEMENT SecurityRiskDetection (SecurityRiskDetectionId, AccountId, SecurityRiskDetector, SecurityRiskRemediator, DetectedSecurityRisk*, CreateUser, CreateDatetime, LastUpdateUser?, LastUpdateDatetime?)>
<!ELEMENT SecurityRiskDetectionQuerySpecification (Comparison*, QueryLanguage?, SecurityRiskDetectionId?, AccountId?, SecurityRiskDetector?, SecurityRiskRemediator?, DetectedSecurityRisk*)>
<!ELEMENT SecurityRiskDetectionRequisition (AccountId, SecurityRiskDetector, SecurityRiskRemediator?)>
<!ELEMENT SensitiveDataTypeAuthorization (IsAuthorized, AuthorizedSensitiveDataTypeDescription, UnauthorizedReason*)>
<!ELEMENT SensitiveDataTypeAuthorizationQuerySpecification (SensitiveDataType*)>

<!ELEMENT Service (ServiceId?, AwsServiceCode, AwsServiceName, AlternateServiceName?, CombinedServiceName?, AwsStatus, SiteStatus, AwsServiceLandingPageUrl?, SiteServiceLandingPageUrl?, Description?, Category*, ConsoleCategory*, AwsHipaaEligible?, SiteHipaaEligible?, Tag*, CreateUser, CreateDatetime, LastUpdateUser?, LastUpdateDatetime?)>
<!ELEMENT ServiceControl (ServiceId?, ServiceControlId, SequenceNumber, ServiceControlName, Description, AssessorId, AssessmentDatetime, Verifier?, VerificationDatetime?)>
<!ELEMENT ServiceGuideline (ServiceId?, SequenceNumber, ServiceGuidelineName, Description, AssessorId, AssessmentDatetime)>
<!ELEMENT ServiceQuerySpecification (Comparison*, QueryLanguage?, ServiceId?, AwsServiceCode?, AwsServiceName?, AwsStatus?, SiteStatus?, Category*, ConsoleCategory*, AwsHipaaEligible?, SiteHipaaEligible?, Tag*)>

<!ELEMENT ServiceSecurityAssessment (ServiceSecurityAssessmentId?, ServiceId+, Status, SecurityRisk*, ServiceControl*, ServiceGuideline*, ServiceTestPlan?)>
<!ELEMENT ServiceSecurityAssessmentQuerySpecification (Comparison*, QueryLanguage?, ServiceSecurityAssessmentId?, ServiceId?)>
<!ELEMENT ServiceTest (ServiceTestId?, SequenceNumber, Description, ServiceTestStep*, ServiceTestExpectedResult)>
<!ELEMENT ServiceTestPlan (ServiceId, ServiceTestRequirement*)>
<!ELEMENT ServiceTestRequirement (ServiceTestRequirementId?, SequenceNumber, Description, ServiceTest*)>
<!ELEMENT ServiceTestStep (ServiceTestStepId?, ServiceTestId, SequenceNumber, Description)>
<!ELEMENT Stack (StackId, StackName, Description?, StackParameter*, Tag*, Output*, CreateDatetime, Capability*, NotificationOptions?, StackStatus, DisableRollback, StackPolicy?)>
<!ELEMENT StackParameter (Key, Value)>
<!ELEMENT StackQuerySpecification (Comparison*, QueryLanguage?, AccountId, Region?, StackId?, StackName?)>
<!ELEMENT StackRequisition (AccountId, Credentials?, Region?, StackName, Description?, StackPolicyBody?, StackPolicyUrl?, TemplateBody?, TemplateUrl?, RoleArn?, TimeoutInMinutes?, OnFailure?, DisableRollback, StackParameter*, Capability*, NotificationArn*, ResourceType*, Tag*)>
<!ELEMENT Tag (Key, Value)>
<!ELEMENT TermsOfUse (TermsOfUseId?, Revision, EffectiveDate, ExpirationDate?, Text, CreateUser, CreateDatetime, LastUpdateUser?, LastUpdateDatetime?)>
<!ELEMENT TermsOfUseAgreement (TermsOfUseAgreementId?, TermsOfUseId, UserId, Status, PresentedDatetime, AgreedDatetime?, CreateUser, CreateDatetime, LastUpdateUser?, LastUpdateDatetime?)>
<!ELEMENT TermsOfUseAgreementQuerySpecification (TermsOfUseAgreementId?, TermsOfUseId?, UserId?)>
<!ELEMENT TermsOfUseQuerySpecification (Comparison*, QueryLanguage?, TermsOfUseId?, Revision?, EffectiveDate?, ExpirationDate?)>
<!ELEMENT UserAction (UserActionId?, UserId, Action, Description, Detail?, CreateUser, CreateDatetime, LastUpdateUser?, LastUpdateDatetime?)>
<!ELEMENT UserActionQuerySpecification (Comparison*, QueryLanguage?, UserId, Action)>
<!ELEMENT UserNotification (UserNotificationId?, AccountNotificationId?, UserId, Type?, Priority?, Subject?, Text?, ReferenceId?, Read, ReadDatetime?, SentToEmailAddress?, CreateUser, CreateDatetime, LastUpdateUser?, LastUpdateDatetime?)>
<!ELEMENT UserNotificationQuerySpecification (Comparison*, QueryLanguage?, UserNotificationId?, AccountNotificationId?, AccountId?, UserId?, Type?, Priority?, Read?)>
<!ELEMENT UserProfile (UserId, Property*, CreateUser, CreateDatetime, LastUpdateUser?, LastUpdateDatetime?, LastLoginDatetime)>
<!ELEMENT UserProfileQuerySpecification (UserId?, Property*)>
<!ELEMENT VirtualPrivateCloud (VpcId, AccountId, Cidr, VpnConnectionProfileId, Region, Type, Purpose, Property*, CreateUser, CreateDatetime, LastUpdateUser?, LastUpdateDatetime?)>
<!ELEMENT VirtualPrivateCloudProvisioning (ProvisioningId, VirtualPrivateCloudRequisition, Status, ProvisioningResult?, ActualTime?, AnticipatedTime?, ProvisioningStep*, CreateUser, CreateDatetime, LastUpdateUser?, LastUpdateDatetime?)>
<!ELEMENT VirtualPrivateCloudProvisioningQuerySpecification (Comparison*, QueryLanguage?, ProvisioningId?, Type?, ComplianceClass?, CreateUser?, LastUpdateUser?)>
<!ELEMENT VirtualPrivateCloudQuerySpecification (Comparison*, QueryLanguage?, VpcId?, AccountId?, Type?, CustomerAdminUserId?, CreateUser?, LastUpdateUser?)>
<!ELEMENT VirtualPrivateCloudRequisition (AccountId?, RequestId?, AuthenticatedRequestorUserId, AccountOwnerUserId, FinancialAccountNumber, CustomerAdminUserId+, Region, Type, ComplianceClass, SensitiveDataType*, Purpose, NotifyAdmins)>
